# 1. Виртуальные окружения
# Никогда не добавляйте в репозиторий. Они огромные и специфичны для вашего ПК.
.venv/
venv/
env/
.env/
ENV/

# 2. Кэш и скомпилированные файлы Python
# Это "машинный" код, который Python создает для ускорения работы.
__pycache__/
*.pyc
*.pyo
*.pyd

# 3. Резервные копии Jupyter Notebook
# Это автоматически созданные резервные копии, которые только засоряют репозиторий.
.ipynb_checkpoints/

# 4. Конфигурации IDE и редакторов
# Настройки, специфичные для вашего компьютера.
.vscode/
*/.vscode/


# 5. Файлы операционной системы
# "Мусорные" файлы, которые создают macOS и Windows.
.DS_Store
Thumbs.db

# 6. Секреты, логи и временные файлы
# Ключи API, пароли и прочие секреты НИКОГДА не должны попадать в Git.
.env
*.log
*.tmp
*.swp