# 1. Виртуальные окружения
.venv/
venv/
env/
.env/
ENV/

# 2. Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 3. Резервные копии Jupyter Notebook
.ipynb_checkpoints/

# 4. Конфигурации IDE и редакторов
.vscode/
*/.vscode/


# 5. Файлы операционной системы
.DS_Store
Thumbs.db

# 6. Секреты, логи и временные файлы
.env
*.log
*.tmp
*.swp